@use 'home.scss';
@use 'acordion.scss';
@use 'portifolio.scss';
@use 'footer.scss';
@use 'var.scss';
@use 'var.scss' as v;

body {
    background-color: #0b0f17;
    color: #e5e7eb;
    font-family: system-ui, sans-serif;
    line-height: 1.6;
}

.txt-animation {
    font-size: 45px;
    font-weight: 300;
}

.txt-animation span {
    position: relative;
}

.txt-animation span::before {
    content: "";
    color: #22d3ee;
    animation: words 20s infinite;
}

.txt-animation span::after {
    content: '';
    position: absolute;
    height: 100%;
    border-left: 0.2rem solid #22d3ee;
    right: -10px;
    animation: cursor .8s infinite, digitar 20s steps(15) infinite;
    width: calc(100% + 15px);
    background-color: #0b0f17;
}

@keyframes digitar {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 15px);
    }
}

@keyframes cursor {
    0% {
        border-left: 0.2rem solid #0b0f17;
    }
}

@keyframes words {

    0%,
    20% {
        content: "Olá, pequeno gafanhoto 🖖";
    }

    21%,
    40% {
        content: "Bem-vindo ao meu repositório";
    }

    41%,
    60% {
        content: "Transformo sonhos em código";
    }

    61%,
    80% {
        content: "soluções praticas";
    }

    81%,
    100% {
        content: "Syler0x26 - Dev Full-Stack";
    }
}

code {
    background: rgba(255, 255, 255, 0.1);
    padding: 2px 6px;
    border-radius: 4px;
}

.btn {
    color: v.$color-terciary;

    &:hover {
        color: #e5e7eba4;
    }
}

.btn-animation {
    box-shadow: 0 0 0.1rem v.$color-terciary;
    transition: all 0.3s ease-out;

    &:hover {
        box-shadow: 0rem 0rem 1rem #22d3ee5d;
        transform: scale(1.1);
    }
}

.text-big {
    font-size: 96px;
}

hr {
    border: 0.2rem solid v.$color-secundary;
    width: 25%;
    position: relative;
    left: 35%;
}

.element-link {
    color: v.$color-secundary;
    text-decoration: none;
}

.i-animation {
    font-size: 3rem;
}

.gradient-text {
    background: linear-gradient(90deg, #ff0055, #22d3ee);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.colored-bullet::marker {
  color: #ff0055;
  font-size: 1.2em;
}
.card-animation{
    transition: all 0.3s ease-out;
    &:hover{
        transform: rotate(3deg);
    }
}
