@charset "UTF-8";
/*inicio do padrão geral*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
span{
    color: rgb(91, 1, 175);
}
/*fim do padrão geral*/
body, html{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
/*inicio da estilixação do header*/
header{
    background-color: lightgreen;
    height: 90px;
}
header > div#box-menu{
    background-color: lightblue;
    display: inline-block;
    width: 100px;
}
i#burguer{
    display: block;
    font-size: 2em;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    height: 90px;
    transition: .3s;
}
i#burguer:hover{
    color: rgb(63, 116, 63);
}
menu{
    display: none;
    text-align: center;
    cursor: pointer;
}
menu > ul >li{
    padding-bottom: 25px;
    padding-top: 15px;
    transition: .3s;
}
menu > ul > li > a{
    color: black;
}
menu > ul > li:hover{
    background-color: rgb(233, 253, 233);
}
/*fim da estilixação do header*/
/*inicio da estilização do main*/
section{
    background-color: rgba(240, 128, 128, 0.521);
    height: 92vh;
    box-shadow: 0px 2px 5px gray;
}
section > div#apresentação{
    position: relative;
    left: 15%;
    top: 25%;
}
section > div#apresentação > h2, h1{
    font-size: 4em;
}
section button.btn{
    border: none;
    background: transparent;
    color: rgb(82, 151, 82);
    font-size: 1.5em;
    border-radius: 7px;
    border: 2px solid lightgreen;
    padding: 5px;
    transition: .4s;
}
section button.btn:hover{
    background-color: lightgreen;
    color: rgb(102, 102, 102);
}
article#sobre-mim{
    height: 100%;
}
article#sobre-mim > div.texto-sobre-mim > h2{
    margin-top: 25px;
    text-align: center;
    font-size: 2em;
}
article#sobre-mim > div.texto-sobre-mim  p{
    text-align: justify;
    text-indent: 20px;
    padding: 20px;
    font-size: 1.2em;
}
article#sobre-mim div.img{
    height: 300px;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.644);
    background: black url('../img/bkg-sobre-mim.jpg') center center;
    background-size: cover;
}
article#lin-tec-dominio{
    padding: 15px;
}
article#lin-tec-dominio > h2{
    text-align: center;
}
article#lin-tec-dominio > div.img-dominio{
    float: left;
    background: black url('../img/img-html-css.jpg') center center;
    background-size: cover;
    border-radius: 10px;
    height: 200px;
    width: 200px;
}
article#lin-tec-dominio > div.txt-dominio{
    text-align: justify;
    text-indent: 20px;
}
/*fim da estilização do main*/